@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-size: 15px;
    padding-top: 70px;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

.welcome-tab {
    height: 500px;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 20px 20px 40px rgba(10, 150, 78, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding-top: 50px;
    text-align: center;
}

.welcome-tab h2{
    font-size: clamp(2rem, 2.5vw, 2.5rem);
    color: #0a964e;
}

.welcome-tab .fa{
    display: inline;
    float: left;
    position: absolute;
    top: 19%;
    left: 36%;
    color: #0a964e;
}

